:root {
  --font-size-base: 1rem;
  --spacing-base: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size-base);
  padding: var(--spacing-base);
  line-height: 1.6;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 5%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 75rem; /* 최대 너비 1200px */
  margin-bottom: var(--spacing-base);
  padding-top: 1.875rem; /* 상단 여백 30px */
}

.site-title {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}

.site-title:hover {
  text-decoration: underline;
  text-decoration-color: #458EF7;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 75rem; /* 최대 너비 1200px */
  text-align: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.25rem; /* 20px */
  width: fit-content;
}

.profile-pic {
  width: 15rem; /* 240px */
  height: 15rem; /* 240px */
  border-radius: 50%;
  border: 0.4375rem solid #458EF7; /* 7px */
  margin-right: 4.375rem; /* 70px */
}

.profile-description {
  flex: 1;
  max-width: 37.5rem; /* 600px */
}

.profile-description h1 {
  font-size: 1.5rem;
  color: black;
  margin-top: 0;
}

.profile-description p {
  font-size: 1rem;
  color: black;
}

.profile-description a {
  color: #5E5E5E;
  text-decoration: none;
}

.profile-description a:hover {
  text-decoration: underline;
  text-decoration-color: #458EF7;
}

.contact-info {
  display: flex;
  margin-top: var(--spacing-base);
}

.contact-item {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-base);
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-icon {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  margin-right: 0.625rem; /* 10px */
}

/* 반응형 디자인 추가 */
@media (max-width: 48rem) {
  .App-header,
  main {
    align-items: center;
    text-align: center;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: var(--spacing-base);
  }

  .profile-description {
    max-width: 100%;
  }

  .contact-info {
    justify-content: center;
  }
}
